extends layout

block append vars
  - var title = '不思議の酒場〜スマホで乾杯〜'
  - var pageId = 'top'

block main
  main
    h1 不思議の酒場〜スマホで乾杯〜

    dl
      if locals.userId
        dt ID
        dd= userId

      if locals.profile
        dt 名前
        dd= profile['screen-name']

        dt 自己紹介
        dd= profile['message']

    if locals.profile
      ul.sns
        if profile['facebook-url']
          li.item.facebook
            a(href="#{profile['facebook-url']}")
              | Facebook
        if profile['twitter-id']
          li.item.facebook
            a(href="https://twitter.com/#{profile['twitter-id']}")
              | Twitter

